<%- include("header") -%>
<h2>This is the about page</h2>

<p>hdfdaisjuf daskjfkjdsh fkdf dasf
     asdfkjasdh fsdahf dsalhf dslaf lasdkjh sdaf
     f sdafhsdf lsdkaf lsdajh sdalfhsdf,j
</p>

<%- include("footer") -%>